In [167]:
# This model is written based on the DeeplearningAI courses by Andrew Ng

In [168]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [169]:
train_set = pd.read_csv('preprocessed_data.csv')
train_set

     Survived  Pclass  Sex   Age  SibSp  Parch  Embarked
0           0       3    1  22.0      1      0         0
1           1       1    0  38.0      1      0         1
2           1       3    0  26.0      0      0         0
3           1       1    0  35.0      1      0         0
4           0       3    1  35.0      0      0         0
5           0       3    1   0.0      0      0         2
6           0       1    1  54.0      0      0         0
7           0       3    1   2.0      3      1         0
8           1       3    0  27.0      0      2         0
9           1       2    0  14.0      1      0         1
10          1       3    0   4.0      1      1         0
11          1       1    0  58.0      0      0         0
12          0       3    1  20.0      0      0         0
13          0       3    1  39.0      1      5         0
14          0       3    0  14.0      0      0         0
15          1       2    0  55.0      0      0         0
16          0       3    1   2.0      4      1         2
17          1       2    1   0.0      0      0         0
18          0       3    0  31.0      1      0         0
19          1       3    0   0.0      0      0         1
20          0       2    1  35.0      0      0         0
21          1       2    1  34.0      0      0         0
22          1       3    0  15.0      0      0         2
23          1       1    1  28.0      0      0         0
24          0       3    0   8.0      3      1         0
25          1       3    0  38.0      1      5         0
26          0       3    1   0.0      0      0         1
27          0       1    1  19.0      3      2         0
28          1       3    0   0.0      0      0         2
29          0       3    1   0.0      0      0         0
..        ...     ...  ...   ...    ...    ...       ...
861         0       2    1  21.0      1      0         0
862         1       1    0  48.0      0      0         0
863         0       3    0   0.0      8      2         0
864         0       2    1  24.0      0      0         0
865         1       2    0  42.0      0      0         0
866         1       2    0  27.0      1      0         1
867         0       1    1  31.0      0      0         0
868         0       3    1   0.0      0      0         0
869         1       3    1   4.0      1      1         0
870         0       3    1  26.0      0      0         0
871         1       1    0  47.0      1      1         0
872         0       1    1  33.0      0      0         0
873         0       3    1  47.0      0      0         0
874         1       2    0  28.0      1      0         1
875         1       3    0  15.0      0      0         1
876         0       3    1  20.0      0      0         0
877         0       3    1  19.0      0      0         0
878         0       3    1   0.0      0      0         0
879         1       1    0  56.0      0      1         1
880         1       2    0  25.0      0      1         0
881         0       3    1  33.0      0      0         0
882         0       3    0  22.0      0      0         0
883         0       2    1  28.0      0      0         0
884         0       3    1  25.0      0      0         0
885         0       3    0  39.0      0      5         2
886         0       2    1  27.0      0      0         0
887         1       1    0  19.0      0      0         0
888         0       3    0   0.0      1      2         0
889         1       1    1  26.0      0      0         1
890         0       3    1  32.0      0      0         2

[891 rows x 7 columns]

In [170]:
# define the sigmoid function
def sigmoid(z):
    s = 1 / (1 + np.exp(-z))
    return s

In [171]:
# initialize the parameters with zero
def initialize_paras(dim):

    w = np.zeros((dim, 1))
    b = 0

    assert(w.shape == (dim, 1))
    assert(isinstance(b, float) or isinstance(b, int))
    
    return w, b

In [172]:
dim = 5
w, b = initialize_paras(dim)
print ("w = " + str(w))
print ("b = " + str(b))

w = [[0.]
 [0.]
 [0.]
 [0.]
 [0.]]
b = 0

In [173]:
# Forward and backward propagation
def propagate(w, b, X, Y):
    """
    Implement the cost function and its gradient for the propagation explained above

    Arguments:
    w -- weights, a numpy array of size 6
    b -- bias, a scalar
    X -- data of size (6, number of examples)
    Y -- true "label" vector 

    """
    
    m = X.shape[1]
    
    # FORWARD PROPAGATION (FROM X TO COST)
    A = sigmoid(np.dot(w.T, X) + b)            # compute activation
    cost = -1 / m * np.sum(Y * np.log(A) + (1 - Y) * np.log(1 - A))         # compute cost
    
    # BACKWARD PROPAGATION (TO FIND GRAD)
    
    dw = 1 / m * np.dot(X, (A - Y).T)
    db = 1 / m * np.sum(A - Y)

    assert(dw.shape == w.shape)
    assert(db.dtype == float)
    cost = np.squeeze(cost)
    assert(cost.shape == ())
    
    grads = {"dw": dw,
             "db": db}
    
    return grads, cost

In [174]:
# Optimize the parameters with the propagation
def optimize(w, b, X, Y, num_iterations, learning_rate, print_cost = False):
    
    costs = []
    
    for i in range(num_iterations):
        
        # Cost and gradient calculation
        grads, cost = propagate(w, b, X, Y)
        
        # Retrieve derivatives from grads
        dw = grads["dw"]
        db = grads["db"]
        
        # update rule 
        w = w - learning_rate * dw
        b = b - learning_rate * db
        
        # Record the costs
        if i % 100 == 0:
            costs.append(cost)
        
        # Print the cost every 100 training examples
        if print_cost and i % 100 == 0:
            print ("Cost after iteration %i: %f" %(i, cost))
    
    params = {"w": w,
              "b": b}
    
    grads = {"dw": dw,
             "db": db}
    
    return params, grads, costs

In [175]:
def predict(w, b, X):
    
    m = X.shape[1]
    Y_prediction = np.zeros((1,m))
    w = w.reshape(X.shape[0], 1)
      
    A = sigmoid(np.dot(w.T, X) + b)

    for i in range(A.shape[1]):
        
        if A[0, i] <= 0.5:
            Y_prediction[0, i] = 0
        else:
            Y_prediction[0, i] = 1
    
    assert(Y_prediction.shape == (1, m))
    
    return Y_prediction

In [176]:
#  Builds the logistic regression model by calling the function implemented above
def train_model(X_train, Y_train, num_iterations = 2000, learning_rate = 0.5, print_cost = False):

    # initialize parameters with zeros 
    w, b = initialize_paras(X_train.shape[0])

    # Gradient descent 
    parameters, grads, costs = optimize(w, b, X_train, Y_train, num_iterations, learning_rate, print_cost)
    
    # Retrieve parameters w and b from dictionary "parameters"
    w = parameters["w"]
    b = parameters["b"]
    
    # Predict test/train set examples 
    Y_prediction_train = predict(w, b, X_train)

    # Print train/test Errors
    print("train accuracy: {} %".format(100 - np.mean(np.abs(Y_prediction_train - Y_train)) * 100))

    d = {"costs": costs,
         "Y_prediction_train" : Y_prediction_train, 
         "w" : w, 
         "b" : b,
         "learning_rate" : learning_rate,
         "num_iterations": num_iterations}
    
    return d

In [177]:
X_train = train_set[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Embarked']]
X_train = np.array(X_train)

In [178]:
Y_train = train_set[['Survived']]
Y_train = np.array(Y_train)

In [179]:
# Feature Scaling
from sklearn.preprocessing import MinMaxScaler
mms_X = MinMaxScaler()
X_train = mms_X.fit_transform(X_train)

In [180]:
# Check the dims of X_train and Y_train
X_trans = X_train.T
Y_trans = Y_train.T
print(X_trans.shape)
print(Y_trans.shape)

(6, 891)
(1, 891)

In [181]:
Y_trans

array([[0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
        1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
        1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
        1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0,
        0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0,
        1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
        1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
        0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
        1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
        0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
        1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
        0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
        0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0,
        0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
        1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
        1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
        0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1,
        1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
        1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
        0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
        0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
        0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
        0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0,
        1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
        0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
        0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
        1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0]])

In [183]:
d = train_model(X_trans, Y_trans, num_iterations = 10000, learning_rate = 0.5, print_cost = True)

Cost after iteration 0: 0.693147
Cost after iteration 100: 0.478502
Cost after iteration 200: 0.464866
Cost after iteration 300: 0.460510
Cost after iteration 400: 0.458172
Cost after iteration 500: 0.456656
Cost after iteration 600: 0.455608
Cost after iteration 700: 0.454862
Cost after iteration 800: 0.454321
Cost after iteration 900: 0.453922
Cost after iteration 1000: 0.453625
Cost after iteration 1100: 0.453400
Cost after iteration 1200: 0.453229
Cost after iteration 1300: 0.453096
Cost after iteration 1400: 0.452992
Cost after iteration 1500: 0.452909
Cost after iteration 1600: 0.452844
Cost after iteration 1700: 0.452791
Cost after iteration 1800: 0.452749
Cost after iteration 1900: 0.452714
Cost after iteration 2000: 0.452686
Cost after iteration 2100: 0.452662
Cost after iteration 2200: 0.452643
Cost after iteration 2300: 0.452627
Cost after iteration 2400: 0.452613
Cost after iteration 2500: 0.452602
Cost after iteration 2600: 0.452592
Cost after iteration 2700: 0.452584
Cost after iteration 2800: 0.452577
Cost after iteration 2900: 0.452571
Cost after iteration 3000: 0.452567
Cost after iteration 3100: 0.452562
Cost after iteration 3200: 0.452559
Cost after iteration 3300: 0.452556
Cost after iteration 3400: 0.452553
Cost after iteration 3500: 0.452551
Cost after iteration 3600: 0.452549
Cost after iteration 3700: 0.452547
Cost after iteration 3800: 0.452546
Cost after iteration 3900: 0.452545
Cost after iteration 4000: 0.452544
Cost after iteration 4100: 0.452543
Cost after iteration 4200: 0.452542
Cost after iteration 4300: 0.452542
Cost after iteration 4400: 0.452541
Cost after iteration 4500: 0.452541
Cost after iteration 4600: 0.452540
Cost after iteration 4700: 0.452540
Cost after iteration 4800: 0.452539
Cost after iteration 4900: 0.452539
Cost after iteration 5000: 0.452539
Cost after iteration 5100: 0.452539
Cost after iteration 5200: 0.452539
Cost after iteration 5300: 0.452538
Cost after iteration 5400: 0.452538
Cost after iteration 5500: 0.452538
Cost after iteration 5600: 0.452538
Cost after iteration 5700: 0.452538
Cost after iteration 5800: 0.452538
Cost after iteration 5900: 0.452538
Cost after iteration 6000: 0.452538
Cost after iteration 6100: 0.452538
Cost after iteration 6200: 0.452538
Cost after iteration 6300: 0.452538
Cost after iteration 6400: 0.452538
Cost after iteration 6500: 0.452538
Cost after iteration 6600: 0.452538
Cost after iteration 6700: 0.452538
Cost after iteration 6800: 0.452538
Cost after iteration 6900: 0.452538
Cost after iteration 7000: 0.452538
Cost after iteration 7100: 0.452538
Cost after iteration 7200: 0.452538
Cost after iteration 7300: 0.452538
Cost after iteration 7400: 0.452538
Cost after iteration 7500: 0.452538
Cost after iteration 7600: 0.452538
Cost after iteration 7700: 0.452538
Cost after iteration 7800: 0.452538
Cost after iteration 7900: 0.452538
Cost after iteration 8000: 0.452538
Cost after iteration 8100: 0.452538
Cost after iteration 8200: 0.452538
Cost after iteration 8300: 0.452538
Cost after iteration 8400: 0.452538
Cost after iteration 8500: 0.452538
Cost after iteration 8600: 0.452538
Cost after iteration 8700: 0.452538
Cost after iteration 8800: 0.452538
Cost after iteration 8900: 0.452538
Cost after iteration 9000: 0.452538
Cost after iteration 9100: 0.452538
Cost after iteration 9200: 0.452538
Cost after iteration 9300: 0.452538
Cost after iteration 9400: 0.452538
Cost after iteration 9500: 0.452538
Cost after iteration 9600: 0.452538
Cost after iteration 9700: 0.452538
Cost after iteration 9800: 0.452538
Cost after iteration 9900: 0.452538
train accuracy: 79.01234567901236 %

In [166]:
test_set = pd.read_csv('preprocessed_test_data.csv')
test_set.shape

(418, 6)

In [186]:
X_test = mms_X.fit_transform(test_set)
X_test = X_test.T
X_test.shape

/opt/conda/lib/python3.6/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

(6, 418)

In [187]:
w = d["w"]
b = d["b"]
    
# Predict test set 
Y_prediction= predict(w, b, X_test)

In [188]:
Y_prediction

array([[0., 0., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 1., 0., 1., 1.,
        0., 0., 1., 1., 0., 0., 1., 1., 1., 0., 1., 0., 0., 0., 0., 0.,
        0., 1., 0., 0., 1., 1., 0., 0., 0., 1., 0., 1., 1., 0., 0., 0.,
        1., 1., 0., 0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 1., 1., 0., 0., 1., 1., 0., 1., 0., 1., 0., 0., 1., 0., 1.,
        0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 1., 0., 1., 0., 1., 0.,
        1., 0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1.,
        1., 1., 1., 0., 0., 1., 0., 1., 1., 0., 1., 0., 0., 1., 0., 1.,
        0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0.,
        0., 0., 1., 0., 1., 0., 1., 0., 0., 1., 0., 0., 1., 1., 0., 1.,
        1., 0., 1., 0., 0., 1., 0., 0., 1., 1., 0., 0., 0., 0., 0., 1.,
        1., 0., 1., 1., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0., 1.,
        0., 0., 0., 0., 1., 1., 0., 1., 1., 0., 0., 1., 0., 1., 1., 0.,
        1., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0., 1., 0., 1., 0.,
        1., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1.,
        1., 1., 0., 0., 0., 0., 1., 0., 1., 1., 1., 0., 0., 0., 0., 0.,
        0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 1., 0., 1., 0., 0., 0.,
        1., 1., 0., 1., 0., 0., 0., 0., 1., 0., 1., 1., 1., 0., 0., 0.,
        0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
        1., 1., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0.,
        0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 1., 0., 1., 1., 0.,
        0., 0., 1., 0., 1., 0., 0., 1., 0., 1., 1., 0., 1., 1., 0., 1.,
        1., 0., 0., 1., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 1., 1.,
        0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 1., 0., 0.,
        1., 0., 1., 0., 0., 0., 0., 0., 1., 1., 1., 1., 1., 0., 1., 0.,
        0., 0.]])

In [189]:
user_id = pd.read_csv('test.csv')
user_id = user_id[['PassengerId']]
user_id

     PassengerId
0            892
1            893
2            894
3            895
4            896
5            897
6            898
7            899
8            900
9            901
10           902
11           903
12           904
13           905
14           906
15           907
16           908
17           909
18           910
19           911
20           912
21           913
22           914
23           915
24           916
25           917
26           918
27           919
28           920
29           921
..           ...
388         1280
389         1281
390         1282
391         1283
392         1284
393         1285
394         1286
395         1287
396         1288
397         1289
398         1290
399         1291
400         1292
401         1293
402         1294
403         1295
404         1296
405         1297
406         1298
407         1299
408         1300
409         1301
410         1302
411         1303
412         1304
413         1305
414         1306
415         1307
416         1308
417         1309

[418 rows x 1 columns]

In [191]:
user_id['Survived'] = Y_prediction.T

In [194]:
user_id[['Survived']] = user_id[['Survived']].astype('int')
user_id

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         1
19           911         1
20           912         0
21           913         0
22           914         1
23           915         1
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [195]:
user_id.to_csv('LR_hand.csv', index = False)